.order__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.order__main-content {
    padding: auto;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}
