.about__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.about__container p {
    text-align: center;
}

.about__mission {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 2rem;
}

.mission_container,
.vision_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.about__contact-form-container {
    width: 100%;
    padding: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__contact-form-inputs {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about__contact-form-inputs input {
    padding: 1rem 1rem;
}

.about__contact__btn {
    border-radius: 2rem;
    border: none;
    background-color: aqua;
    color: purple;
}

.form-control {
    position: relative;
    cursor: pointer;
    margin-bottom: 0.357em;
    padding: 0;
    font-size: 1.1rem;
}

.form-control-label {
    position: relative;
    cursor: pointer;
    margin-bottom: .357em;
    padding: 0;
    font-size: 1.5rem;
}

.form-control,
.form-control:focus {
    border: 1px solid #e8e8e8;
}

.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
    color: #ffffff;
    background-color: #333333;
    border-color: #333333;
}

.btn-black-outline{
    border: 1px solid #333333;
    padding: 1rem 2rem;
}

.btn-contact{
    font-size: 2rem;
    line-height: 1.2rem;
    font-weight: 500;
    border-radius: .5rem;
}