.home__details-container :nth-child(odd) {
    justify-content: flex-start;
}

.home__details-container :nth-child(even) {
    justify-content: flex-end;
}

.home__details-container {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.jumbotron-container {
    display: flex;
    flex-direction: row;
}

.jumbotron-contents {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.jumbotron-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jumbotron-image-container img {
    width: 50%;
    height: 50%;
}

.home__supplier-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* height: 30vh; */
}

.home__suppliers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.supplier-logo {
    width: 20rem;
    height: 13rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

/*for mobile screens*/
@media only screen and (min-width: 768px) {
    .home__supplier-section {
        height: auto;
    }

    .home__suppliers {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
