.admin__container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.admin__item-form{
    padding: 4rem 5rem;
    border: 1px solid black;
}

.admin__input{
    display: block;
}

.admin__label{
    font-size: 2rem;
}

.admin__send-btn{

}

.admin__current-items{
    border: 1px solid black;
}